<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-title>Login-in</mat-card-title>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">El correo es obligatorio</mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Correo no válido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">La contraseña es obligatoria</mat-error>
      </mat-form-field>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Submit
      </button>
    </mat-card>
  </form>
</div>
